<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Enter Information</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous" />
	</head>
	<body>
		<div class="container">
			<div style="padding-top: 15%"></div>
			<h2>Enter data in any one of the following to reflect on the display</h2>
			<br />
			<form id="op-form">
				<div class="form-group">
					<label for="formGroupExampleInput"><b>Enter Text</b></label>
					<input
						type="text"
						class="form-control"
						name="text"
						id="formGroupExampleInput"
						placeholder="Enter input" />
				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2"><b>Enter URL</b></label>
					<input
						type="text"
						class="form-control"
						name="url"
						id="formGroupExampleInput2"
						placeholder="Enter input" />
				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2"><b>Upload Image</b></label>
					<input
						type="file"
						class="form-control-file"
						name="file"
						id="exampleFormControlFile1" />
				</div>
				<button
					type="submit"
					class="btn btn-primary"
					>Submit</button
				>
			</form>
		</div>
		<script>
			const form = document.getElementById('op-form')

			form.addEventListener('submit', submitForm)

			function submitForm(e) {
				e.preventDefault()
				const text = document.getElementById('formGroupExampleInput').value
				const url = document.getElementById('formGroupExampleInput2').value
				const files = document.getElementById('exampleFormControlFile1')
				const formData = new FormData()
				formData.append('text', text)
				formData.append('url', url)
				for (let i = 0; i < files.files.length; i++) {
					formData.append('files', files.files[i])
				}
				fetch('https://innoapps.outshade.com/imageview', {
					method: 'POST',
					body: formData,
				})
					.then(async (res) => {
						// alert(JSON.stringify(res.body))
						let json = await res.json()
            alert('Content Uploaded');
					})
					.catch((err) => ('Error occured', err))
			}
		</script>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</body>
</html>
